@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto&display=swap');

@font-face{
	font-family: 'Wals-Bold';
	src:url('fonts/GT-Walsheim-Bold.woff2') format('woff2');
}

@font-face{
	font-family: 'Wals-Regular';
	src:url('fonts/GT-Walsheim-Regular.woff2') format('woff2');
}

/* Global Variables */

:root {
	--bg: #F7F9F8;
	--font: #202025;
	--accent: #679FDA;
	--accent2: #20DD88;
    --vw: 1vw;
}

body {
	background-color: var(--background);
    width: 80%;
	margin: auto;
	background: var(--bg);
	color: var(--font);
	font-family: 'Wals-Regular', 'Arial', sans-serif;
}

h1{
	font-size: calc(var(--vw)*3.5);
}

h3{
	font-size: calc(var(--vw)*1.5);
	margin-right: var(--vw);
}

textarea {
	background: #eee;
	color: var(--font-color);
	font-weight: 100;
	font-size: calc(var(--vw) * 1.5);
	font-family: 'Wals-Regular', 'Arial', sans-serif;
	border-radius: .2em;
}

button {
	border: none;
	color: var(--bg);
	background: var(--accent);
	overflow: hidden;
	margin: 1rem;
	padding: 0;
	text-transform: uppercase;
	width: 150px;
	height: 40px;
	border-radius: 10em;
}

button:hover{
	animation: Fade 0.2s linear forwards;
}

/* Scrollbar */
::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: #070707;
}

::-webkit-scrollbar-thumb {
	background: #151515;
}

::-webkit-scrollbar-thumb:hover {
	background: #151515;
}

@media screen and (max-width: 1200px) {
    :root{
        --vw: 4vw;
    }
}

@keyframes Fade {
	100% {
		background: var(--accent2);
		box-shadow: 0.1rem 0.1rem #0002;
	}
}