@font-face{
	font-family: 'Wals-Bold';
	src:url('fonts/GT-Walsheim-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'basier_mono';
    src: url('basiersquaremono-regular-webfont.woff2') format('woff2'),
         url('basiersquaremono-regular-webfont.woff') format('woff'),
         url('basiersquaremono-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Global Variables */

:root {
	--bg: #eaeaea;
	--font: #202025;
	--accent: #679FDA;
	--accent2: #20DD88;
    --vw: 1vw;
}

body {
	background-color: var(--background);
    width: 90%;
	margin: auto;
	background: var(--bg);
	color: var(--font);
	font-family: 'Wals-Bold', sans-serif;
}

h1{
	font-size: calc(var(--vw)*3.5);
}

h2{
	font-size: calc(var(--vw)*1.5);
}

h3{
	font-size: var(--vw);
	font-family: 'basier_mono', sans-serif;
}

a {
	background: var(--accent);
	width: calc(var(--vw) * 2);
	height: calc(var(--vw) * 2);
	font-size: calc(var(--vw) * 1.5);
	border-radius: 50%;
	text-decoration: none;
	color: var(--bg);
	font-family: 'basier_mono', sans-serif;
	text-align: center;
	line-height: 6vw;
}

a:hover{
	animation: Fade 0.2s linear forwards;
}

p{
	font-size: var(--vw);
}

textarea {
	background: #F7F9F8;
	color: var(--font-color);
	font-weight: 100;
	border: transparent;
	padding: 1rem;
	font-size: calc(var(--vw) * 1.5);
	font-family: 'basier_mono', sans-serif;
	border-radius: 5%;
}

button {
	border: none;
	color: var(--bg);
	background: var(--accent);
	overflow: hidden;
	margin: 1rem;
	padding: 0;
	text-transform: uppercase;
	width: 150px;
	height: 40px;
	border-radius: 10em;
}

button:hover{
	animation: Fade 0.2s linear forwards;
}

.header {
	display: flex;
	align-items: center;
	width:100%;
	margin-top:2vw;
}

.key {
	width:calc(var(--vw) * 1.7);
	height:calc(var(--vw) * 1);
	text-overflow: wrap;
	white-space: wrap;
	overflow: hidden;
	resize: none;
	text-align: center;
}

/* Scrollbar */
::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: #070707;
}

::-webkit-scrollbar-thumb {
	background: #151515;
}

::-webkit-scrollbar-thumb:hover {
	background: #151515;
}

/* Selection */

::-moz-selection {
	background: var(--bg);
	color: var(--font);
}

::selection {
	background: var(--bg);
	color: var(--font);
}

@media screen and (max-width: 1200px) {
    :root{
        --vw: 3vw;
    }
}

@keyframes Fade {
	100% {
		background: var(--accent2);
		box-shadow: 0.1rem 0.1rem #0002;
	}
}